@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}

.page--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 100em;
	
}

header {
	margin-top: 20px;
}

.header--top {
	margin-bottom: 20px;
}

.header--top, nav {
	width: 1200px;
	min-width: 1000px;
}

main {
	/* border: 1px solid #ccc; */
	min-width: 1200px;
	padding-left: 22px;
	margin-bottom: 100px;
}

.header--top ul {
	display: flex;
	justify-content: flex-end;
}

.header--top li {
	font-size: 14px;
	line-height: 1.6;
}

.header--top li a {
	color: #3e3e3e;
}

.li--split {
	margin: 0px 15px;
	color: gray;
}

.material--li {
	display: flex; 
	align-items: center;
	margin-right: 3px;
}


.material-symbols-outlined:hover {
	color: black;
}

.material-symbols-outlined-white:hover {
	color: white;
}

.logo {
	min-width: 250px;
	height: 64px;
	margin: 0px 10px 17px 17px;
	color: white;
	cursor: pointer;
}

nav {
	display: flex;
	align-items: flex-end;
}

.nav--depth1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	width: 100%;
	margin-bottom: 17px;
}

.nav--depth1 li {
	flex:1;
}

.nav--depth1 li a {
	display: inline-block;
	padding: 15px 0;
	font-size: 23px;
	font-weight: 600;
	min-width: 100%;
	text-align: center;
	/*color: #314f79;*/
	color: #373737; 
}

.nav--depth1 li a:hover {
	cursor: pointer;
}

.nav--bar {
	background-color: #174481;
	height: 7px;
	width: 232px;
	display: none;
	position: relative;
}

.nav--depth2 {
	border-top: 1px solid #ccc;
	background-color: white;
	width: 100%;
	min-width: 1604px;
	height: 420px; 
	position: absolute;
	left:0px;
	display: none;
	text-align: center;
	z-index: 999;
}

.nav--depth2--div {
	background-color: white;
	display: flex;
	min-width: 1604px;
	justify-content: center;
	height: 100%;
}

.nav--div1 {
	min-width: 23px;
	height: 100%;
}

.nav--div2 {
	min-width: 255px; 
	height: 100%;
	background-color: #F3FCFE;
}

.nav--depth2 ul {
	text-align: center;
	padding: 10px;
	min-width: 230px;
}

.nav--split {
	min-width: 1px;
	height: 100%;
	background-color: #ccc;
}

.nav--depth2--background {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
}

.nav--depth2--div li {
	font-size: 17px;
	padding: 15px 0;
	border-bottom: 1px solid buttonshadow;
}

.nav--depth2--div li:last-of-type {
	border-bottom: hidden;
}

.nav--depth2--div li a {
	display: inline-block;
	width: 100%; 
}

.nav--depth2--div li a:hover {
	font-weight: 600;
}

.sub--menu {
	height: 100%;
	background-color: #9b9b9e;
	display: flex;
	justify-content: flex-start;
	min-width: 1200px;
	z-index: 1;
}

.sub--menu div:first-of-type {
	width: 22px;
}

.material-symbols-outlined-white {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 !important;
}

.sub--menu--button.home--button {
	justify-content: center;
	width: 150px;
	padding: 0;
}

.sub--menu--button {
	background: none;
	width: 220px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px 0 30px;
	height: 100%;
	font-size: 16px;
	color: white;
	font-weight: 500;
	border: 1px solid #ccc;
	border-top: hidden;
	border-bottom: hidden;
}

.sub--menu--button > ul {
	margin: 0;
}

.header--menu--split {
	min-width: 100%;
	height: 50px;
	background-color: #9b9b9e;
	display: flex;
	justify-content: center;	
	margin-bottom: 30px;
}

/* 데이트피커 셀 바꾸기*/
.ui-state-highlight {
	border: 1px solid #c5c5c5 !important;
	background-color: #a6a6a6 !important;
	color: white !important;
}
.ui-state-active {
	border: 1px solid #c5c5c5 !important;
	background-color: #528cba !important;
	color: white !important;
}
.ui-state-default {
	border-radius: 2px;
}

.material-symbols-outlined-fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 !important
}

footer {
	width: 100%;
	text-align: center;
	margin: 40px 0 20px;
}

.page--up--button {
	text-align: center;
	position: fixed;
	bottom: 50px;
	right: 100px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	background-color: #FDFDFD;
}

.page--up--button span {
	font-size: 40px;	
	color: rgba(0, 0, 0, 0.7);
}

.search--btn--middle {
	background-color: #7CB2D5;
	padding: 10px 12px 4px 15px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 19px;
}

.search--btn--big {
	background-color: #7CB2D5;
	padding: 13px 18px 7px 21px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 20px;
}

.search--btn--big span {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48 !important;
}

.close--button {
	height: 24px;
	border: none;
	background: none;
	color: rgba(0, 0, 0, 0.7)
}