@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}

.page--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 100em;
	
}

header {
	margin-top: 20px;
}

.header--top {
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.header--top, nav {
	width: 1200px;
	min-width: 1000px;
}

main {
	min-width: 1200px;
	padding-left: 22px;
	min-height: 650px;
	padding-bottom: 100px;
}

.header--top > ul:first-of-type {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 23px;
}

.header--top > ul:first-of-type li:last-of-type {
	font-size: 15px;
	margin: 0 0 4px 1px
}

.header--top > ul:first-of-type li span:hover {
	color: #314f79;
}

.header--top > ul:first-of-type li {
	color: #314f79;
	font-weight: 500;
}

.header--top > ul:last-of-type {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.top--text--li {
	margin-bottom: 4px;
}

.header--top li {
	font-size: 14px;
}

.header--top li a {
	color: #3e3e3e;
}

.li--split {
	margin: 0px 15px 5px;
	color: gray;
}

.material--li {
	margin-right: 5px;
}

.material-symbols-outlined-white:hover {
	color: white;
}

.logo {
	min-width: 250px;
	height: 64px;
	margin: 0px 10px 17px 17px;
	color: white;
	cursor: pointer;
}

nav {
	display: flex;
	align-items: flex-end;
}

.nav--depth1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	width: 100%;
	margin-bottom: 17px;
}

.nav--depth1 li {
	flex:1;
}

.nav--depth1 li a {
	display: inline-block;
	padding: 15px 0;
	font-size: 23px;
	font-weight: 600;
	min-width: 100%;
	text-align: center;
	color: #373737; 
}

.nav--depth1 li a:hover {
	cursor: pointer;
}

.nav--bar {
	background-color: #174481;
	height: 7px;
	width: 232px;
	display: none;
	position: relative;
}

.nav--depth2 {
	border-top: 1px solid #ccc;
	background-color: white;
	width: 100%;
	min-width: 1604px;
	height: 248px; 
	position: absolute;
	left:0px;
	display: none;
	text-align: center;
	z-index: 999;
}

.nav--depth2--div {
	background-color: white;
	display: flex;
	min-width: 1604px;
	justify-content: center;
	height: 100%;
}

.nav--div1 {
	min-width: 23px;
	height: 100%;
}

.nav--div2 {
	min-width: 255px; 
	height: 100%;
	background-color: #F3FCFE;
}

.nav--depth2 ul {
	text-align: center;
	padding: 10px;
	min-width: 230px;
}

.nav--split {
	min-width: 1px;
	height: 100%;
	background-color: #ccc;
}

.nav--depth2--background {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
}

.nav--depth2--div li {
	font-size: 17px;
	padding: 15px 0;
	border-bottom: 1px solid buttonshadow;
}

.nav--depth2--div li:last-of-type {
	border-bottom: hidden;
}

.nav--depth2--div li a {
	display: inline-block;
	width: 100%; 
}

.nav--depth2--div li a:hover {
	font-weight: 600;
}

.sub--menu {
	height: 100%;
	background-color: #9b9b9e;
	display: flex;
	justify-content: flex-start;
	min-width: 1200px;
	z-index: 1;
}

.sub--menu div:first-of-type {
	width: 22px;
}

.material-symbols-outlined-white {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 !important;
}

.sub--menu--button.home--button {
	justify-content: center;
	width: 150px;
	padding: 5px 0 0 0;
}

.sub--menu--button:hover {
	background-color: #76767b !important;
}

.selected--sub--menu {
	background-color: #76767b !important;
}

.sub--menu--button, .menu--button {
	background: none;
	width: 240px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px 0 30px;
	height: 100%;
	font-size: 16px;
	font-weight: 500;
}

.sub--menu--button {
	color: white;
	border: 1px solid #ccc;
	border-top: hidden;
	border-bottom: hidden;
}

.sub--menu--button > ul {
	margin: 0;
}

.drop--menu {
	background-color: white;
	border: 1px solid #ccc;
	border-top: none;
	padding: 10px 0;
	margin-left: -1px;
	position: absolute;
	display: none;
}

.menu--button {
	padding: 0 15px 0 30px;
	color: #434343;
	height: 30px;
	border: none;
}

.menu--button:hover {
	background-color: buttonhighlight;
}


.header--menu--split {
	min-width: 100%;
	height: 50px;
	background-color: #9b9b9e;
	display: flex;
	justify-content: center;	
	margin-bottom: 30px;
}

/* 데이트피커 셀 바꾸기*/
.ui-state-highlight {
	border: 1px solid #c5c5c5 !important;
	background-color: #a6a6a6 !important;
	color: white !important;
}
.ui-state-active {
	border: 1px solid #c5c5c5 !important;
	background-color: #528cba !important;
	color: white !important;
}
.ui-state-default {
	border-radius: 2px;
}

.material-symbols-outlined-fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48 !important
}

footer {
	width: 100%;
	text-align: center;
	margin: 30px 0 20px;
}

.page--up--button {
	text-align: center;
	position: fixed;
	bottom: 50px;
	right: 100px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	background-color: #FDFDFD;
}

.page--up--button span {
	font-size: 40px;	
	color: rgba(0, 0, 0, 0.7);
}

.blue--btn--small {
	background-color: #7CB2D5;
	padding: 8px 10px 4px 13px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 17px;
}

.blue--btn--middle {
	background-color: #7CB2D5;
	padding: 10px 12px 4px 15px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 19px;
}

.blue--btn--big {
	background-color: #7CB2D5;
	padding: 13px 18px 7px 21px;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 20px;
}

.search--btn--big span {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48 !important;
}

.close--button {
	height: 24px;
	border: none;
	background: none;
	color: rgba(0, 0, 0, 0.7)
}

.list--table, .list--table--reverse {
	width: 100%;
	border-color: #ddd;
}

.list--table th, .list--table--reverse th {
	background-color: #E5EFF3;
	color: #404040;
}

.list--table th:first-child, .list--table td:first-child, .list--table--reverse th {
	border-left: hidden;
}

.list--table th:last-child, .list--table td:last-child, .list--table--reverse td {
	border-right: hidden;
}

.list--table tr:first-of-type th, .list--table--reverse tr:first-of-type th, 
.list--table--reverse tr:first-of-type td {
	border-top: 2px solid #ccc;
}

.list--table tr:last-of-type td, .list--table--reverse tr:last-of-type th,
.list--table--reverse tr:last-of-type td {
	border-bottom: 2px solid #ccc;
}

.list--table th, .list--table td, .list--table--reverse th {
	font-size: 17px;
	text-align: center;
	padding: 5px;
}

.list--table label {
	cursor: pointer;
}

.small--title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px; 
	color: #314f79;
}

.small--title span:first-of-type {
	margin-right: 5px;
}

.small--title span:hover {
	color: #314f79;
}

ul {
	margin: 0;
}

.middle--title {
	width: 100%;
	text-align: left;
	font-weight: 600;
	margin-bottom: 20px;
	color: #314f79;
	display: flex;
	align-items: center;
	margin-left: -10px;
}

.middle--title span:hover {
	color: #314f79;
}

.no--list--p {
	font-size: 20px;
	color: #6c6a6a;
	font-weight: 600;
}

.page--list {
	display: flex;
	justify-content: center;
}

.page--list li {
	margin: 30px 20px 0;
}

.selected--page {
	font-weight: 700; 
	color: #007bff;
}

.white--btn {
	color: rgba(0, 0, 0, 0.7);
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
	padding: 5px 7px 1px 3px;
	font-weight: 500;
}

.ul--dropdown--menu > li {
	width: 100px;
	font-weight: 500;
}

.ul--dropdown--menu {
	position: absolute;
	padding: 10px 7px 10px 10px;
	margin-left: -43px;
	background-color: white;
	border: 1px solid #ccc;
	display: none;
}

.ul--dropdown--menu > li a:hover {
	color: #406395;
}

.page--title {
	font-weight: 600;
	display: flex;
	color: #464e57;
	margin: 0 !important;
}

.page--title--description {
	margin-top: 8px;
	color: #707070;	
}

.important--span {
	font-weight: 600;
	color: #4973b0;
}

.filter--div {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter--div form {
	display: flex;
}

.filter--div form div {
	background-color: buttonshadow;
	padding: 13px 13px 13px 10px;
}

.filter--div label {
	margin-right: 5px;
	margin-bottom: 0;
}

.filter--div input, .filter--div select {
	margin-right: 10px;
	border-radius: 5px;
	border-width: 1px;
	padding: 3px;
	border: 1px solid #ccc;
	outline: none;
}

.filter--div form button {
	background-color: gray;
	padding: 2px 6px;
	border: none;
	border-radius: 5px;
	color: white;
	height: 28px;
}