@charset "UTF-8";

.list--table--reverse td {
	font-size: 17px;
	padding: 10px 5px 10px 20px;
}

.list--table--reverse th {
	width: 300px;
	height: 52.5px;
}

label {
	margin: 0;
}

input[name="title"], .info--input, textarea[name="content"], select {
	border: none;
	outline: none;
	background-color: #eee;
	padding: 3px 5px;
	border-radius: 5px;
}

.info--input {
	width: 300px;
}

input[name="title"] {
	width: 100%;
}

textarea[name="content"] {
	width: 100%;
	padding: 7px 10px;
	font-size: 16px;
	resize: none;
	height: 400px;
}

select[name="categoryId"] {
	width: 300px;
}

select[name="ticketId"] {
	width: 550px;
}

.textarea--p {
	text-align: right;
	color: gray;
	font-size: 14px;
}

label:hover {
	cursor: pointer;
}
