<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.airline.repository.interfaces.MenuRepository">

<select id="selectByMainId" resultType="com.green.airline.dto.response.MenuDto">
	SELECT m.menu AS main_menu, s.menu AS sub_menu, type, s.mapping, main_id, s.id AS sub_id
	FROM sub_menu_tb AS s
	JOIN main_menu_tb AS m
	ON s.main_id = m.id
	WHERE m.id = '${mainId}'
</select>

<select id="selectBySubMenuAndType" resultType="com.green.airline.dto.response.MenuDto">
	SELECT m.menu AS main_menu, s.menu AS sub_menu, type, s.mapping, main_id, s.id AS sub_id
	FROM sub_menu_tb AS s
	JOIN main_menu_tb AS m
	ON s.main_id = m.id
	WHERE s.menu = '${subMenu}' AND m.type = '${type}'
</select>

</mapper>
